<ion-view>
  <ion-content>

	<div ng-app="starter"> 
		<div ng-controller="HomeCtrl">


		  	<ul ng-repeat="doc in response.data.response.zone" ng-init="{{item.name}}">
				<div ng-if="doc.name == 'book'"> 
					<ul ng-repeat="book in doc.records.work">


						<form action="{{action}}" method="POST">
					


						    <p>{{doc.name}}</p>
						    <p>Title:
						    	<input type="text" ng-model="book.title" placeholder="Edit Title of Book" style="width:550px; border:solid black 1px" name="title">
						    </p>
						   	<p>Author(s)
						   		<input type="text" ng-model="book.contributor" placeholder="Edit Author(s)" style="width:550px; border:solid black 1px" name="author">
						   	</p>
						   	<p>Location:
						   		<input type="text" ng-model="location" style="border:solid black 1px" name="location" value="Bookshelf" required autofocus>
						   	</p>
						
						   	<input type="submit" value="Submit to Database">
	  					

	  					
	  					</form>
					</ul>
				</div>
			</ul>

	        <div id="addressBox">
	            <h5>Input Server Address</h5>
	            <input id="addressInput" ng-model="action">
          	</div>
		</div>
	</div>
  	<div style='background:green;display:table;margin:40% auto;padding:10px;color:white'ng-click='scan()'>
        Click to Scan
    </div>


  </ion-content>
</ion-view>